*.suo
*.user
.vs/
~*.xlsx
[Bb]in/
[Oo]bj/
[Oo]bj.NCD/
[Dd]ebug/
_UpgradeReport_Files/
[Pp]ackages/
[Mm]igrations/


Thumbs.db
Desktop.ini
.DS_Store

Indicators/*.dll
Indicators/*.pdb

Strategies/*.dll
Strategies/*.pdb

#.vscode
*.spx